/*@import "../node_modules/ngx-responsive-stack-table/ngx-responsive-stack-table.css";*/

@font-face {
  font-family: 'Raleway';
  src: url('assets/fonts/Raleway-Regular.ttf') format("opentype");
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('assets/fonts/Raleway-Bold.ttf') format("opentype");
}


/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.titulobitacora {
  background-color: #0e3e62;
  text-align: center;
  color: #fff;
  width: 100%;
  line-height: 50px;
  text-align: center;
}

footer {
  background: #103D70;
  color: #ffffff;
  position: absolute;
  bottom: 10px;
  width: 100%;
  border-top: 2px solid #ffffff;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 960px;
}

header .content-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-responsive {
  max-height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#page-container {
  position: relative;
  min-height: 100vh;
  height: 90%;
  padding-bottom: 35px;
}

#content-wrap {
  /*padding-bottom: 35px;*/
  /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  /* Footer height */
}

.mat-drawer-content {
  background-color: #eaeaea !important;
}

.btn-success {
  background-color: #5cb85c !important;
}

  .btn-success:hover {
    background-color: #449D44 !important;
  }

@media only screen and (max-width: 767px) {
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
  }
}
/* You can add global styles to this file, and also import other style files */
