<h4 mat-dialog-title class="text-center" style="font-size: 16px; color:black">
  <b>Análisis de reporte de {{dataArray[2]}}</b>
  <mat-icon class="float-end" style="cursor: pointer; position: absolute; right: 18px; top: 22px;" (click)="cerrar()">close</mat-icon><br>
  <b>Del día {{dataArray[3]}} al {{dataArray[4]}}</b>
</h4>
 
<mat-dialog-content>

  <!--<h4 class="modal-title text-center" style="font-size: 16px; color:black">
    <b>Análisis de reporte de {{dataArray[2]}}</b><br>
    <b>Del día {{dataArray[3]}} al {{dataArray[4]}}</b>
  </h4>-->

  <div style="margin-top: 20px; color: black;">
    <div [innerHTML]="dataArray[1]" style="line-height: 1.6;"></div>
  </div>

  <div *ngIf="dataArray[1] && dataArray[1] !== 'Espere un momento...'">
    <button class="btn-copiar" (click)="copiarTexto()">
      <mat-icon [ngClass]="copiado ? 'icono-copiado' : ''">
        {{ copiado ? 'check' : 'content_copy' }}
      </mat-icon>
    </button>

    <button class="btn-copiar" (click)="leerRespuesta()">
      <mat-icon>{{ leyendo ? 'stop' : 'volume_up' }}</mat-icon>
    </button>
</div>
</mat-dialog-content>
