<mat-dialog-content>
  <div style="position: relative; padding-right: 10px; color: black;" class="float-end">
    <mat-icon style="cursor: pointer;" class="float-end" (click)="cerrar()">close</mat-icon>
  </div>

  <h4 class="modal-title text-center" style="font-size: 16px; color:black">
    <b>Registros de {{dataArray[1]}}</b>
  </h4>
  <div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div
            class="table-responsive"
            style="overflow-x: auto; overflow-y: auto; height: 45vh; width: 100%; margin-top: 15px; border: 1px solid #eee;">
            <table class="table table-striped">
              <thead style="background-color: #fff;">
                <tr style="position: relative;">
                  <th style="position: sticky; top: 0; background-color: white; border: 0px;">Fecha</th>
                  <th style="position: sticky; top: 0; background-color: white; border: 0px;">Proyecto</th>
                  <th style="position: sticky; top: 0; background-color: white; border: 0px;">Unidad</th>
                  <th style="position: sticky; top: 0; background-color: white; border: 0px;">Área</th>
                  <th style="position: sticky; top: 0; background-color: white; border: 0px;">Duración</th>
                  <th style="position: sticky; top: 0; background-color: white; border: 0px; width: 50%;">Detalle</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataArray[0]">
                  <td>{{item.fecha}}</td>
                  <td>{{item.proyecto}}</td>
                  <td>{{item.unidad}}</td>
                  <td>{{item.area}}</td>
                  <td>{{item.horas}}</td>
                  <td>{{item.detalle}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>