<table class="table table-striped cellspacing= dataTable" fixed-header>
 <tr>
  <td colspan="2" class="p-2">
    <div class="d-flex flex-column flex-md-row align-items-start justify-content-between w-100">
      
      <!-- Buscador -->
      <div class="d-flex flex-row w-100 me-md-3" style="margin-bottom: 10px;">
        <div class="me-2 d-flex align-items-center">
          <mat-icon class="custom-icon">search</mat-icon>
        </div>
        <div class="flex-grow-1 position-relative">
          <input type="text"
                class="form-control"
                placeholder="Buscar"
                aria-label="Buscar"
                [(ngModel)]="busqueda"
                #busq
                (keyup)="filtroBitacora(busq.value)"
                autocomplete="off"
                style="font-weight: bold; font-size: 14px; padding-left: 9px; padding-right: 35px;">

          <button class="btn position-absolute"
                  *ngIf="busq.value"
                  (click)="busqueda=''; filtroBitacora(busqueda)"
                  type="button"
                  style="top: 50%; right: 8px; transform: translateY(-50%); background: transparent; border: none;">
            <mat-icon style="font-size: 21px; color: #cccccc;">close</mat-icon>
          </button>
        </div>
      </div>

      <!-- Total de horas -->
      <div class="text-md-end text-start w-100">
        <h2 class="text">Total de Horas de la Semana: {{sumaHoras}}</h2>
      </div>

    </div>
  </td>
</tr>

</table>
<div class="row paginador" >
    <div class="col-lg-5">
      <div class="row selreg">
        <div class="col-sm-2"> <label class="labeltext" style="padding-right: 10px">Mostrar </label></div>
        <div class="col-sm-3" style="padding-left: 10px">
          <select style="padding-right: 1px;" #regPorPagina [(ngModel)]="registrosPorPagina" class="form-control custom-select-sm col-md-3" (change)="cambioRPP(regPorPagina.value)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
          <mat-icon class="float-end" style="margin-top:-27px;">keyboard_arrow_down</mat-icon>
        </div>
        <div class="col-sm-6"> <label class="labeltext" style="padding-left: 0px; text-align: left; "> registros por página</label></div>



      </div>
    </div>
    <div class="col-lg-7" style="text-align: right;">
        <div class="col-lg-12 col-sm-6 col-xs-6" style=" height:35px;padding-top: 12px !important;">
            <div class="form-group text-right" style="margin-bottom: 0px;margin-top: 0px;height: 20px;">
                <pagination-controls class="pagination-sm top-pg derPag"  (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
                <label *ngIf="!filtroActivo" style="padding-left: 15px; padding-top: 3px; font-weight: bold;">Mostrando {{rangoRegs}} de {{numRegistrosBitacora}} Registros </label>
                <label *ngIf="filtroActivo" style="padding-left: 15px;  padding-top: 3px; font-weight: bold;">Mostrando {{rangoRegsFiltro}} de {{numRegistrosFiltrados}} Registros </label>
            </div>
          </div>
    </div>
</div>




<div class="table-responsive">
       <table class="table table-striped cellspacing= dataTable" fixed-header>
            <thead>
                <tr class="table-head">
                    <th class="fecha">Fecha</th>
                    <th class="proyecto">Proyecto</th>
                    <th class="actividad">Actividad</th>
                    <th class="fase">Etapa</th>
                    <th class="duracion">Duración</th>
                    <th class="detalle">Detalle</th>
                    <th class="iconos"></th>
                    <th class="iconos"></th>
                </tr>
            </thead>

            <tbody class="tablabody">
               <tr role="row" *ngFor="let registro of registrosBitacora | filtroBitacora:busqueda | paginate: config">
                <td class="fecha" data-label="Fecha">{{registro.fecha}}</td>
                <td class="proyecto" data-label="Proyecto">{{registro.proyecto}}</td>
                <td class="actividad" data-label="Actividad">{{registro.activadad}}</td>
                <td class="fase" data-label="Etapa">{{registro.etapa}}</td>
                <td class="duracion" data-label="Duración">{{registro.duracion}}</td>
                <td class="detalle" data-label="Detalle">{{registro.descripcion}}</td>
                <td *ngIf="registro.editable" class="iconos" data-label="Editar">
                  <mat-icon matSuffix style="color:#092740" (click)="editar(registro)">edit</mat-icon>
                </td>
                <td *ngIf="registro.editable" class="iconos" data-label="Eliminar">
                  <mat-icon matSuffix style="color:#092740" (click)="eliminar(registro.id)">delete</mat-icon>
                </td>
                <td *ngIf="!registro.editable" class="iconos" data-label="Editar">
                  <mat-icon matSuffix style="color:lightgrey">edit</mat-icon>
                </td>
                <td *ngIf="!registro.editable" class="iconos" data-label="Eliminar">
                  <mat-icon matSuffix style="color:lightgrey">delete</mat-icon>
                </td>
              </tr>
            </tbody>
       </table>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="col-md-12" style="text-align: center;">

            <label *ngIf="!filtroActivo" style="padding-left: 36px; font-weight: bold;">Mostrando {{rangoRegs}} de {{numRegistrosBitacora}} Registros </label>
            <label *ngIf="filtroActivo" style="padding-left: 36px; font-weight: bold;">Mostrando {{rangoRegsFiltro}} de {{numRegistrosFiltrados}} Registros </label>

    </div>
</div>



