<table class="table table-striped cellspacing= dataTable" fixed-header>
    <tr>

      <td class="row" style="padding-left: 0px; padding-bottom: 15px; padding-top: 5px; text-align: left; height: 3em;">
        <div class="col-sm-2 icon-container" style="background-color:transparent">
          <mat-icon class="custom-icon">search</mat-icon>
        </div>
        <div class="col-sm-10" style="background-color:transparent">
          <!--<input type="text" style="width: 100%;; height: 35px; border: 1px solid #ccc; border-radius: 5px; font-weight: bold!important; font-size: 14px!important; padding-left: 9px!important;" #busq autocomplete="off" name="busqueda" [(ngModel)]="busqueda" class="inlab" (keyup)="filtroBitacora(busq.value)">
              <button class="clear_icon" style="position: relative; right: 41px; top: 2px;" mat-button *ngIf="busq.value" matSuffix mat-icon-button aria-label="Clear" (click)="busqueda=''; filtroBitacora(busqueda)">
                <mat-icon style="font-size: 21px; color: #cccccc !i;">close</mat-icon>
              </button>-->
          <div class="position-relative" style="width: 100%;">
            <input type="text"
                   class="form-control"
                   placeholder="Buscar"
                   aria-label="Buscar"
                   [(ngModel)]="busqueda"
                   #busq
                   (keyup)="filtroBitacora(busq.value)"
                   autocomplete="off"
                   style="font-weight: bold; font-size: 14px; padding-left: 9px; padding-right: 35px;">

            <button class="btn position-absolute"
                    *ngIf="busq.value"
                    (click)="busqueda=''; filtroBitacora(busqueda)"
                    type="button"
                    style="top: 60%; right: -8px; transform: translateY(-50%); background: transparent; border: none; outline: none; box-shadow: none;">
              <mat-icon style="font-size: 21px; color: #cccccc;">close</mat-icon>
            </button>
          </div>
        </div>

      </td>
        <td>
            <div class="pull-right" style="text-align: right; padding-right: 30px; padding-top: 18px;">
                <h2 class="text">Total de Horas de la Semana: {{sumaHoras}}</h2>
            </div>
        </td>
    </tr>
</table>
<div class="row paginador" >
    <div class="col-lg-5">
      <div class="row selreg">
        <div class="col-sm-2"> <label class="labeltext" style="padding-right: 10px">Mostrar </label></div>
        <div class="col-sm-3" style="padding-left: 10px">
          <select style="padding-right: 1px;" #regPorPagina [(ngModel)]="registrosPorPagina" class="form-control custom-select-sm col-md-3" (change)="cambioRPP(regPorPagina.value)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="col-sm-6"> <label class="labeltext" style="padding-left: 0px; text-align: left; "> registros por página</label></div>



      </div>
    </div>
    <div class="col-lg-7" style="text-align: right;">
        <div class="col-lg-12 col-sm-6 col-xs-6" style=" height:35px;padding-top: 12px !important;">
            <div class="form-group text-right" style="margin-bottom: 0px;margin-top: 0px;height: 20px;">
                <pagination-controls class="pagination-sm top-pg derPag"  (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
                <label *ngIf="!filtroActivo" style="padding-left: 15px; padding-top: 3px; font-weight: bold;">Mostrando {{rangoRegs}} de {{numRegistrosBitacora}} Registros </label>
                <label *ngIf="filtroActivo" style="padding-left: 15px;  padding-top: 3px; font-weight: bold;">Mostrando {{rangoRegsFiltro}} de {{numRegistrosFiltrados}} Registros </label>
            </div>
          </div>
    </div>
</div>




<div class="table-responsive">
       <table class="table table-striped cellspacing= dataTable" fixed-header>
            <thead>
                <tr class="table-head">
                    <th class="fecha">Fecha</th>
                    <th class="proyecto">Proyecto</th>
                    <th class="actividad">Actividad</th>
                    <th class="fase">Etapa</th>
                    <th class="duracion">Duración</th>
                    <th class="detalle">Detalle</th>
                    <th class="iconos"></th>
                    <th class="iconos"></th>
                </tr>
            </thead>

            <tbody class="tablabody">
                <tr role="row" *ngFor="let registro of registrosBitacora | filtroBitacora:busqueda | paginate: config">
                    <td class="fecha">{{registro.fecha}}</td>
                    <td class="proyecto">{{registro.proyecto}}</td>
                    <td class="actividad">{{registro.activadad}}</td>
                    <td class="fase">{{registro.etapa}}</td>
                    <td class="duracion">{{registro.duracion}}</td>
                    <td class="detalle">{{registro.descripcion}}</td>
                    <td *ngIf="registro.editable" class="iconos"><mat-icon matSuffix style="color:#092740" (click)="editar(registro)">edit</mat-icon></td>
                    <td *ngIf="registro.editable" class="iconos"><mat-icon matSuffix style="color:#092740"(click)="eliminar(registro.id)">delete</mat-icon></td>
                    <td *ngIf="!registro.editable" class="iconos"><mat-icon matSuffix style="color:lightgrey">edit</mat-icon></td>
                    <td *ngIf="!registro.editable" class="iconos"><mat-icon matSuffix style="color:lightgrey">delete</mat-icon></td>
                </tr>
            </tbody>
       </table>
</div>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="col-md-12" style="text-align: center;">

            <label *ngIf="!filtroActivo" style="padding-left: 36px; font-weight: bold;">Mostrando {{rangoRegs}} de {{numRegistrosBitacora}} Registros </label>
            <label *ngIf="filtroActivo" style="padding-left: 36px; font-weight: bold;">Mostrando {{rangoRegsFiltro}} de {{numRegistrosFiltrados}} Registros </label>

    </div>
</div>



